* {
    margin: 15px 0 10px;
    padding: 0;
    color: white;
    font-size: large;
    font-family: "minecraftfonte";
    box-sizing: border-box;
}

@font-face {
    font-family: "minecraftfonte";
    src: url("fontes/Minercraftory.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

hr{
    border: solid 2px rgb(22, 14, 14);
}
/*Titulo*/
h1{
    margin: auto;
    background-color: transparent;
    width: 500px;
    color: white;
    padding: 3px;
    border: 3px solid #8b5cf6;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
    font-size: xx-large;
}

/*H2*/
.Pacíficos{
    background-color: transparent;
    width: 140px; 
    margin: auto;
    color: white;
    padding: 3px;
    border: 1px solid #8b5cf6;
    text-align: center;  
    border-radius: 10px;
    font-weight: normal;
}
.Ofensivos {
    background-color: transparent;
    width: 140px; 
    margin: auto;
    color: white;
    padding: 6px;
    border: 1px solid #8b5cf6;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
}
.Neutros {
    background-color: transparent;
    width: 140px; 
    margin: auto;
    color: white;
    padding: 3px;
    border: 1px solid #8b5cf6;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
}
.PersonagensPrincipais {
    background-color: transparent;
    width: 250px;
    margin: auto;
    color: white;
    padding: 3px;
    border: 1px solid #8b5cf6;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
}

/*body*/

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #09090a;
}

main {
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

p{
    border-radius: 10px;
    background-image: url("Imagens/fundo\ cinza.png");
    font-size: small;
    width: 150px;
    margin-left: auto; 
    margin-right: auto;
    padding: 3px;
    border: 1px solid #7575757e;
    text-shadow: 0 0 6px rgb(0, 0, 0);
}

/*Imagens*/
.pacificos {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.ofensivos {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.neutros {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.personagens    {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

/*cada imagem pacifico*/
.porco {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.porco:hover{
    transform: scale(1.2);
}
.vaca {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.vaca:hover{
    transform: scale(1.2);
}
.ovelha {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.ovelha:hover{
    transform: scale(1.2);
}
.villager {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.villager:hover{
    transform: scale(1.2);
}
.galinha {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.galinha:hover{
    transform: scale(1.2);
}

/*Ofensivos*/
.bruxa {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.bruxa:hover{
    transform: scale(1.2);
}
.creeper {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.creeper:hover{
    transform: scale(1.2);
}
.esqueleto {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.esqueleto:hover{
    transform: scale(1.2);
}
.invocador {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.invocador:hover{
    transform: scale(1.2);
}
.zombie {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.zombie:hover{
    transform: scale(1.2);
}

/*Neutros*/
.aranha {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.aranha:hover{
    transform: scale(1.2);
}
.enderman {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.enderman:hover{
    transform: scale(1.2);
}
.irongolen {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.irongolen:hover{
    transform: scale(1.2);
}
.lobo {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.lobo:hover{
    transform: scale(1.2);
}
.piglin {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.piglin:hover{
    transform: scale(1.2);
}

/*personagens*/
.steve {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.steve:hover{
    transform: scale(1.2);
}
.alex {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.alex:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .pacificos, .neutros, .personagens,.ofensivos {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        width: 250px;
    }
}
