* {
    margin: 15px 0 10px;
    padding: 0;
    color: white;
    font-size: large;
    font-family: "minecraftfonte";
    box-sizing: border-box;
}

@font-face {
    font-family: "minecraftfonte";
    src: url("fontes/Minercraftory.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

hr{
    border: solid 2px rgb(22, 14, 14);
}
/*Titulo*/
h1{
    margin: auto;
    background-color: transparent;
    width: 500px;
    color: white;
    padding: 3px;
    border: 3px solid #8b5cf6;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
    font-size: xx-large;
}

/*H2*/
.Pacíficos{
    background-color: transparent;
    width: 140px; 
    margin: auto;
    color: white;
    padding: 3px;
    border: 1px solid #8b5cf6;
    text-align: center;  
    border-radius: 10px;
    font-weight: normal;
}
.Ofensivos {
    background-color: transparent;
    width: 140px; 
    margin: auto;
    color: white;
    padding: 6px;
    border: 1px solid #8b5cf6;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
}
.Neutros {
    background-color: transparent;
    width: 140px; 
    margin: auto;
    color: white;
    padding: 3px;
    border: 1px solid #8b5cf6;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
}
.PersonagensPrincipais {
    background-color: transparent;
    width: 250px;
    margin: auto;
    color: white;
    padding: 3px;
    border: 1px solid #8b5cf6;
    text-align: center;
    border-radius: 10px;
    font-weight: normal;
}

/*body*/

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #09090a;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin-bottom: 56px;
}

p.infosP {
    text-align: center;
    max-width: 100%;
    margin: 56px auto;
    padding: 0 30px;
    font-size: medium;
}

P.infos {
    border-radius: 10px;
    background-image: url("Imagens/fundo\ cinza.png");
    font-size: small;
    width: 150px;
    margin: auto;
    padding: 3px;
    border: 1px solid #7575757e;
    text-shadow: 0 0 6px rgb(0, 0, 0);
}

/*Imagens*/
.pacificos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.ofensivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.neutros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.personagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

/*Animações Pacífico*/
.mobsPacificos {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.mobsPacificos:hover{
    transform: scale(1.2);
}

/*Animações Ofensivos*/
.mobsOfensivos {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.mobsOfensivos:hover{
    transform: scale(1.2);
}

/*Animações Neutros*/
.mobsNeutros {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.mobsNeutros:hover{
    transform: scale(1.2);
}

/*Animações personagens*/
.mobsPersonagens {
    -webkit-filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
    transition: transform .3s;
}
.mobsPersonagens:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    h1 {
        width: 250px;
    }
}
